body.admin-bar {
    min-height: calc(100vh - var(--header-height) - var(--header-offset) - 32px);
    --full-height: calc(100vh - 32px);
    .header {
        top: calc(32px + var(--header-offset)) !important;
    }

    .modal {
        padding-top: calc(var(--header-offset) + var(--header-height) + var(--spacing-md) + 32px);
    }
}


