@font-face {
    font-family: "Oracle";
    src:
        url("../fonts/ABCOracle-Medium-Trial.woff2") format("woff2"),
        url("../fonts/ABCOracle-Medium-Trial.woff") format("woff");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Oracle";
    src:
        url("../fonts/ABCOracle-Regular-Trial.woff2") format("woff2"),
        url("../fonts/ABCOracle-Regular-Trial.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}